html {
  height: 100%;
}

body {
  /* padding-top: 30px; */
  height: 100%;
}

header {
  text-align: center;
  height:50vh;
  background-size:cover;
}

/*
 * Navigation
 * I want the menu to slide full right when user scrolls down
 * should have id=navbar
*/


nav#main {
  background: #00BFFF;
  top: 0;
	height: 50px;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
}

.fixed-nav nav#main {
  position: fixed;
  box-shadow: 0 5px rgba(0,0,0,0.1)
}

nav#main ul {
  margin: 0;
  padding:0;
  list-style: none;
  display:flex;
}

nav#main a {
  font-size: 24px;
  padding: 10px;
  color: #000;
  text-decoration: none;
}

nav#main li {
  flex:1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
	cursor: pointer;
}

li.logo {
  max-width:0;
  overflow: hidden;
  transition: all 1s;
  font-weight: 600;
  font-size: 30px;
}

.fixed-nav li.logo {
  max-width:  500px;
}

nav#main li:hover,
nav#main li:hover a{
  color: #FFF;
  background-color: #00B2EE;
}

li.logo a {
  color:black;
}

#wrapper {
  margin: 0px auto;
  border: 1px solid #000;
	margin-top: -20px;
	padding: 0px 100px 50px;
  /* background: linear-gradient(to bottom, #7EC0EE, #B0E2FF 50%, #F0F8FF); */
}

h2 {
  text-align: center;
}

/*
 * Sections
 section {
 border-bottom: 1px solid #fafafa;
 border: 1px solid;
 padding-top: 60px;
 }

 */

#welcome-section {
  background: #efefef;
  background-size: 100%;
}

#welcome-section .container {
	padding: 1em;
	font-size: 3em;
}


#projects {
  background: #efefef;
}

#project-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
}

.project {
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	margin-bottom: 0px;
	padding: 1em 1em 0;
	display: grid;
	grid-template-rows: repeat(1fr);
	align-items: center;
	font-weight: 100;
	text-decoration: none;
}

.project-img {
	width: 100%;
	height: 100%;
}

.project-title {
	box-sizing: border-box;
	margin: 0px;
	padding: 10px;
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 2em;
}

.project:hover > .project-title:before {
	content: '\a0<a>';
	font-size: 0.9em;
}

.project:hover > .project-title:after {
	content: '</a>';
	font-size: 0.9em;
}

.done:before {
  content: '✓ ' ;
}
.row {
  padding: 20px;
  margin: 20px auto;
}

#contact {

}

#contact-form {
  width: 800px;
}

#contact div.form-group {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
}

#contact label.col-xs-2 {
  padding-top: 4px;
}

#contact div.col-xs-10 {
  padding-left: 6px;
}

/*=========================
  Icons
  https://bootsnipp.com/snippets/featured/spinning-social-icons ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	padding: 0;
}

ul.social-network li {
	display: inline;
	margin: 0 5px;
}

/* footer social icons */
.social-network a.icoGit:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoGit:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #00f;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height: 60px;
   width:100%;
   background: #E8F8F8;
}

footer .container {
  margin: 5px auto;
  position: relative;
}

#copy-right {
  width: 200px;
  position: absolute;
  top: 40%;
  height: 20px;
}
.showme {
  border: 1px solid red;
}

/*
 * Helper stuff that needs to go away before launch
 */

.border {
	border: thin solid;
}

/*
A modern workaround is to use the CSS scroll-margin-top property in combination with the :target selector. Described in detail: https://www.bram.us/2020/03/01/prevent-content-from-being-hidden-underneath-a-fixed-header-by-using-scroll-margin-top/
*/

