/* Stylesheet for FreeCodeCamp Survey Form project */
@font-face {
    font-family: Chicago;
    src: url('../resources/fonts/chicagobold.ttf');
}

body {
	background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='110px' width='38px'><text x='0' y='88' fill='rgba(255, 0, 0, .3)' font-size='80'>?</text></svg>"),
	url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='110px' width='38px'><text x='4' y='90' fill='rgba(0, 255, 0, .3)' font-size='80'>?</text></svg>"),
	url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='110px' width='38px'><text x='6' y='92' fill='rgba(0, 0, 255, .3)' font-size='80'>?</text></svg>");
	background-attachment: scroll, fixed, scroll;
	padding: 0;
	margin: 0;
}

header {
	width: 100%;
	position: relative;
	left: 0;
	background: #FFF;
	padding-bottom: 20px;
}


#wrapper {
	text-align: center;
}

form#survey-form {
	position: relative;
	width: 480px;
	border: 3px ridge gray;
	margin: 0 auto;
	padding: 0px 50px;
	background: #f0f0f0;
	text-align: left;
}

label {
	font: .95em sans-serif;
	user-select: none;
	white-space: nowrap;
	overflow: visible;
}

label.text-label, .certificates-label, .comment-label {
	width: 480px;
	display: block;
	margin-top: 12px;
	margin-bottom: 6px;
	padding-left: 12px;
}

label .radio-label {
	margin: 0;
	padding-left: 2px;
}

input[type="text"], input[type="number"], input[type="email"] {
	width: 480px;
	border: none;
	border-radius: 8px;
	padding: 8px;
}

label.text-label {
	display: flex;
}

label div.required {
	flex-grow: 100;
	text-align: right;
	color: red;
	font-size: smaller;
}

input[type="checkbox"] {
	min-height: 1.25rem;
	min-width: 1.25rem;
	vertical-align: middle;
	position: relative;
	bottom: 1px;
}

select {
	width: 500px;
	height: 30px;
	padding: 8px;
	border: none;
	border-radius: 8px;
}

fieldset {
	border: 0;
	margin-top: 12px;
	margin-left: 0;
	padding-left: 0;
}

legend {
	font: .95em sans-serif;
	line-height: 1.5;
	margin-left: 0;
	margin-bottom: 0;
	padding-left: 0;
}

#editor-legend.alert {
  animation-name: alert;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  color: red;
}

#editor-list {
	list-style-type: none;
	padding-left: 0px;
	margin-top: 0;
}

@keyframes alert {
	to { color: black; }
}

ul.chckbx {
	height: 200px;
	margin-top: 0px;
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

ul.chckbx li {
	margin: 1px 0;
	list-style-type: none;
	flex: 1 1 21%;
	white-space: nowrap;
}

ul.chckbx li label {
	padding 8px 6px;
}

p#submit-button {
	width: 100%;
	margin-top: 20px;
	margin-right: 0px;
	text-align: right;
}
input[type="submit"] {
	height: 30px;
	border: 3px grooved gray;
	border-radius: 6px;
}

div[id$='-label'] {
	text-transform: capitalize;
}

#response {
	width: 50%;
	padding: 4px;
	font-family: Chicago;
}

#results-wrapper {
	margin: 0px;
	border: solid 4px;
	padding: 18px;
	background: #FFF;
}

#results-wrapper h2#results-header {
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

#results-wrapper div#results-disclaimer {
	width: 50%;
	margin: 5px auto 20px;
	text-align: center;
	font-size: 0.75em;
}

#results {
	width: 80%;
	margin: 10px auto;
	font-size: 1em;
	font-weight: bold;
}

/* Tables
	adapted from: https://css-tricks.com/accessible-simple-responsive-tables/
================================== */
.Dtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
}
.Dtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;  /* Default to full width */
  padding: 0.2em 0.2em;
  overflow: hidden; /* Or flex might break */
	// white-space: wrap;
}

/* Table column sizing
================================== */

.Dtable > div:nth-of-type(2n+1)  { 
	width: 40%;
	max-width: 40%;
}

.Dtable > div:nth-of-type(2n) {
	width: 60%;
}

.Dtable .hide {
	display: none;
}

button#dismiss {
	width: 100px;
	margin-top: 10px;
	margin-left: 80%;
	/*
	 * Modified this: https://developer.mozilla.org/en-US/docs/Web/CSS/border#examples
	 * to get the double borders.
	*/
  border: 6px double black;
  box-shadow: 0 0 0 1px black;
  border-radius: 8px;
	padding: 3px;
	background: #F8F8F8;
}

button#dismiss:hover {
	background: rgba(0, 0, 255, 0.75);
	text-weight: bold;
	color: #FEFEFE;
	cursor: pointer;
}

/*
 align center vertically and horizontally
 .parent {
  position: relative;
}
.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
*/
