@font-face {
	font-family: "DSEG Classic Mini Bold";
	src: url(fonts/DSEG7ClassicMini-Bold.ttf) format("truetype");
	/* src: url(https://dl.dropboxusercontent.com/s/ycz95txfg2gzu9j/DSEG7ClassicMini-Bold.ttf) format("truetype"); */
}

#wrapper {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}


#calculator {
	height: 400px;
	width: 240px;
	display: grid;
	grid-template-columns: repeat( 4, 1fr );
	grid-template-rows: repeat( 10, 1fr);
	grid-gap: 1px;
	align-items: center;
	justify-items: center;
	border: 1px solid #F3F3F3;
	/* margin: 0 auto; */
	padding: 14px;
	padding-bottom: 18px;
	border-radius: 10px;
	background-color: rgb(175,199,213);
	background: linear-gradient(120deg, #E3E3E3, #afc7d5);
	box-shadow: 7px 10px 34px 1px rgba(0, 0, 0, 0.68), inset -1px -6px 12px 0.1px #89847e;
	cursor: default;
}

#retro {
	grid-column: 1/-1;
	align-self: center;
	justify-self: center;
	text-align: center;
	font: small-caps 22px sans-serif;
}

#display-wrapper {
	grid-column: 1/-1;
	grid-row: span 2;
	align-self: center;
	justify-self: center;
	border: 8px solid rgba(33 15 2 / 75%);
	background: rgba(33 15 2 / 75%);
	border-radius: 2px;
	height: 94%;
	width: 100%;
	box-sizing: border-box;
}

#display {
	box-sizing: border-box;
	position: relative;
	border: 2px solid rgba(1, 32, 11, 0.7);
	border-radius: 2px;
	height: 100%;
	background: rgb(125, 140, 115);
	/* alternate display background colors: #a2aa7a; #A8C64E; #93ad5d;*/
}

#digits-bkgnd, #digits,
#error, #error-bkgnd,
#memory, #memory-bkgnd {
	position: absolute;
	right: 1px;
	width: 100%;
	/* border: thin solid; */
}

#digits-bkgnd, #digits {
	top: 12px;
	font-size: 30px;
	font-family: DSEG Classic Mini Bold, sans-serif;
	overflow: hidden;
	text-align: right;
}

#digits-bkgnd {
	color: rgba(102, 102, 102, 0.3);
}

#digits, #memory, #error {
	color: #000;
	font-weight: bold;
}

#memory-bkgnd, #error-bkgnd {
	color: rgba(84, 84, 84, 0.7);
}

#error, #error-bkgnd {
	height: 1.2em;
	top: 34px;
	padding-left: 7px;
	font-family: sans-serif;
	font-size: 12px;
	text-align: left;
	box-sizing: border-box;
}

#memory, #memory-bkgnd {
	height: 1.2em;
	top: 8px;
	padding-left: 7px;
	font-family: sans-serif;
	font-size: 12px;
	text-align: left;
	box-sizing: border-box;
}

#branding {
	grid-column: 1/-1;
	align-self: center;
	justify-self: center;
	width: 60%;
	border: 1px solid #FFF;
	border-radius: 1px;
	margin: 0 auto;
	padding: 3px 6px;
	background: #dee1e8;
	text-align: center;
	font: small-caps 10px Verdana;
}

button {
	width: 86%;
	height: 86%;
	margin: 2px 1px;
	border-radius: 6px;
	outline: none;
	justify-self: center;
	cursor: pointer;
	font-size: 14px;
	background: rgb(33 15 2 / 70%);
	color: #FFF;
	font-family: Futura;
}

button#clear {
	padding: 0px;
}

#equals {
	width: 94%;
	grid-column: span 2;
}

#sign {
	padding: 0px;
	font-size: 12px;
}

#sign span {
	margin: 0px;
	padding: 0px;
}

#sign span#plus {
	margin: 0px;
	vertical-align: super;
}

#sign span#minus {
	margin: 0px;
	vertical-align: sub;
}

/* iphone portrait mode */
/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

	#wrapper {
		height: 100vh;
		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#calculator {
		height: 100vh;
		width: 100vw;
		display: grid;
		grid-template-columns: repeat( 4, 1fr);
		grid-template-rows: 90px 1fr 50px repeat( 7, 1fr);
		grid-gap: 3px;
		border: 1px solid #F3F3F3;
		padding: 14px;
		padding-bottom: 18px;
		border-radius: 10px;
		background-color: #D3D3D3;
		background: linear-gradient(120deg, #E3E3E3 , #FFFFFF);
		box-shadow: 7px 10px 34px 1px rgb(0 0 0 / 68%), inset -1px -6px 12px 0.1px #89847e;
		cursor: default;
	}

	#display {
		grid-column: 1/-1;
		border: 12px ridge silver;
		border-radius: 12px;
		margin-bottom: 2px;
		padding: 6px 4px 4px 2px;
		background: #93ad5d;
		background-image: url(img/lcd-bkgnd.png);
		width: 100%;
		overflow: hidden;
		text-align: right;
		font-size: 6em;
		font-family: DSEG Classic Mini Bold, sans-serif;
	}

	#retro {
		grid-column: 1/-1;
		height: 100%;
		margin-bottom: 6px;
		text-align: center;
		font: small-caps 4em sans-serif;
	}

	#digits-bkgnd, #digits,
	#error, #error-bkgnd,
	#memory, #memory-bkgnd {
		position: absolute;
		right: 20px;
		width: 100%;
	}

	#digits-bkgnd, #digits {
		top: 50px;
		font-size: 120px;
		font-family: DSEG Classic Mini Bold, sans-serif;
		overflow: hidden;
		text-align: right;
	}

	#digits-bkgnd {
		color: rgba(102, 102, 102, 0.3);
	}

	#digits, #memory, #error {
		color: #000;
		font-weight: bold;
	}

	#memory-bkgnd, #error-bkgnd {
		color: rgba(84, 84, 84, 0.7);
	}

	#error, #error-bkgnd {
		height: 1.2em;
		top: 130px;
		padding-left: 57px;
		font-family: sans-serif;
		font-size: 50px;
		text-align: left;
		box-sizing: border-box;
	}

	#memory, #memory-bkgnd {
		height: 1.2em;
		top: 40px;
		padding-left: 55px;
		font-family: sans-serif;
		font-size: 50px;
		text-align: left;
		box-sizing: border-box;
	}

	#branding {
		grid-column: 1/-1;
		align-self: center;
		height: 50px;
		width: 80%;
		border: 1px solid #FFF;
		margin: 0 auto;
		margin-top: 18px;
		padding: 4px;
		background: #dee1e8;
		text-align: center;
		font: small-caps 2em Verdana;
	}

	button {
		margin: 2px 1px;
		border-radius: 15%;
		outline: none;
		cursor: pointer;
		font-size: 4em;
		background: rgb(33 15 2 / 70%);
		color: #FFF;
		font-family: Futura;
	}

	button#equals {
		border-radius: 20px;
	}

	#sign {
		padding: 0px;
		font-size: 4em;
	}
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

	#wrapper {
		width: 100vw;
		height: 100vh;
	}

	#calculator {
		width: 95vw;
		height: 95vh;
	}

	#retro {
		grid-column: 1/-1;
		height: 100%;
		margin-bottom: 6px;
		text-align: center;
		font: small-caps 4.2em sans-serif;
	}

	#display {
		grid-column: 1/-1;
		border: 12px ridge silver;
		border-radius: 12px;
		margin-bottom: 2px;
		padding: 6px 4px 4px 2px;
		background: #93ad5d;
		background-image: url(img/lcd-bkgnd.png);
		width: 100%;
		overflow: hidden;
		text-align: right;
		font-size: 6em;
		font-family: DSEG Classic Mini Bold, sans-serif;
	}

	#digits-bkgnd, #digits,
	#error, #error-bkgnd,
	#memory, #memory-bkgnd {
		position: absolute;
		right: 12px;
		width: 100%;
		/* border: thin solid; */
	}

	#digits-bkgnd, #digits {
		top: 0.58em;
		font-size: 1.23em;
		/* padding-right: 12px; */
		font-family: DSEG Classic Mini Bold, sans-serif;
		overflow: hidden;
		text-align: right;
	}

	#digits-bkgnd {
		color: rgba(102, 102, 102, 0.3);
	}

	#digits, #memory, #error {
		color: #000;
		font-weight: bold;
	}

	#memory-bkgnd, #error-bkgnd {
		color: rgba(84, 84, 84, 0.3);
	}

	#error, #error-bkgnd {
		height: 1.2em;
		top: 2.7em;
		left: 0.65em;
		padding-left: 7px;
		font-family: sans-serif;
		font-size: .55em;
		text-align: left;
		box-sizing: border-box;
	}

	#memory, #memory-bkgnd {
		height: 1.2em;
		top: 1.2em;
		left: 0.65em;
		padding-left: 7px;
		font-family: sans-serif;
		font-size: .55em;
		text-align: left;
		box-sizing: border-box;
	}

	#branding {
		grid-column: 1/-1;
		align-self: center;
		justify-self: center;
		width: 60%;
		border: 1px solid #FFF;
		border-radius: 1px;
		margin: 0 auto;
		padding: 3px 6px;
		background: #dee1e8;
		text-align: center;
		font: small-caps 2.3em Verdana;
	}

	button {
		width: 86%;
		height: 86%;
		margin: 2px 1px;
		border-radius: 18px;
		outline: none;
		justify-self: center;
		cursor: pointer;
		font-size: 48px;
		background: rgb(33 15 2 / 70%);
		color: #FFF;
		font-family: Futura;
	}

	#sign {
		padding: 0px;
		font-size: 48px;
	}

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 1180px) 
  and (max-device-width: 1180px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

	#wrapper {
		width: 100vw;
		height: 100vh;
	}

	#calculator {
		width: 95vw;
		height: 95vh;
		display: grid;
		grid-template-columns: repeat( 4, 1fr);
		grid-template-rows: 90px 1fr 50px repeat( 7, 1fr);
		grid-gap: 3px;
		border: 1px solid #F3F3F3;
		padding: 14px;
		padding-bottom: 18px;
		border-radius: 10px;
		background-color: #D3D3D3;
		background: linear-gradient(120deg, #E3E3E3 , #FFFFFF);
		box-shadow: 7px 10px 34px 1px rgb(0 0 0 / 68%), inset -1px -6px 12px 0.1px #89847e;
		cursor: default;
	}

	#retro {
		grid-column: 1/-1;
		height: 100%;
		margin-bottom: 6px;
		text-align: center;
		font: small-caps 4.2em sans-serif;
	}

	#display {
		grid-column: 1/-1;
		border: 12px ridge silver;
		border-radius: 12px;
		margin-bottom: 2px;
		padding: 6px 4px 4px 2px;
		background: #93ad5d;
		background-image: url(img/lcd-bkgnd.png);
		width: 100%;
		overflow: hidden;
		text-align: right;
		font-size: 6em;
		font-family: DSEG Classic Mini Bold, sans-serif;
	}

	#digits-bkgnd, #digits,
	#error, #error-bkgnd,
	#memory, #memory-bkgnd {
		position: absolute;
		right: 12px;
		width: 100%;
		/* border: thin solid; */
	}

	#digits-bkgnd, #digits {
		top: 0.1em;
		font-size: .75em;
		font-family: DSEG Classic Mini Bold, sans-serif;
		overflow: hidden;
		text-align: right;
	}

	#digits-bkgnd {
		color: rgba(102, 102, 102, 0.3);
	}

	#digits, #memory, #error {
		color: #000;
		font-weight: bold;
	}

	#memory-bkgnd, #error-bkgnd {
		color: rgba(84, 84, 84, 0.3);
	}

	#error, #error-bkgnd {
		height: 1.2em;
		top: 2.7em;
		left: 0.65em;
		padding-left: 7px;
		font-family: sans-serif;
		font-size: .55em;
		text-align: left;
		box-sizing: border-box;
	}

	#memory, #memory-bkgnd {
		height: 1.2em;
		top: 1.2em;
		left: 0.65em;
		padding-left: 7px;
		font-family: sans-serif;
		font-size: .55em;
		text-align: left;
		box-sizing: border-box;
	}

	#branding {
		grid-column: 1/-1;
		align-self: center;
		justify-self: center;
		width: 60%;
		border: 1px solid #FFF;
		border-radius: 1px;
		margin: 0 auto;
		padding: 3px 6px;
		background: #dee1e8;
		text-align: center;
		font: small-caps 2.3em Verdana;
	}

	button {
		width: 86%;
		height: 86%;
		margin: 2px 1px;
		border-radius: 18px;
		outline: none;
		justify-self: center;
		cursor: pointer;
		font-size: 48px;
		background: rgb(33 15 2 / 70%);
		color: #FFF;
		font-family: Futura;
	}

#sign {
	padding: 0px;
	font-size: 1.2em;
}

#sign span {
	margin: 0px;
	padding: 0px;
}

#sign span#plus {
	margin: 0px;
	vertical-align: super;
}

#sign span#slash {
	margin: 0.25em;
	padding: 0px
}

#sign span#minus {
	margin: 0px;
	vertical-align: sub;
}


}
